<html>

<head>
    <title>SPK Penerima Beasiswa Menggunakan Algoritma SAW</title>

    <meta charset="UTF-8">
    <meta name="description" content="Clean and responsive administration panel">
    <meta name="keywords" content="Admin,Panel,HTML,CSS,XML,JavaScript">
    <meta name="author" content="Erik Campobadal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/css/uikit.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/css/style.css">
    <link rel="stylesheet" href="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/css/notyf.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script data-dapp-detection="">
        (function () {
            let alreadyInsertedMetaTag = false

            function __insertDappDetected() {
                if (!alreadyInsertedMetaTag) {
                    const meta = document.createElement('meta')
                    meta.name = 'dapp-detected'
                    document.head.appendChild(meta)
                    alreadyInsertedMetaTag = true
                }
            }

            if (window.hasOwnProperty('web3')) {
                // Note a closure can't be used for this var because some sites like
                // www.wnyc.org do a second script execution via eval for some reason.
                window.__disableDappDetectionInsertion = true
                // Likely oldWeb3 is undefined and it has a property only because
                // we defined it. Some sites like wnyc.org are evaling all scripts
                // that exist again, so this is protection against multiple calls.
                if (window.web3 === undefined) {
                    return
                }
                __insertDappDetected()
            } else {
                var oldWeb3 = window.web3
                Object.defineProperty(window, 'web3', {
                    configurable: true,
                    set: function (val) {
                        if (!window.__disableDappDetectionInsertion)
                            __insertDappDetected()
                        oldWeb3 = val
                    },
                    get: function () {
                        if (!window.__disableDappDetectionInsertion)
                            __insertDappDetected()
                        return oldWeb3
                    }
                })
            }
        })()</script>
    <script src="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/js/uikit.min.js"></script>
    <script src="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/js/uikit-icons.min.js"></script>
    <style type="text/css">
        /* Chart.js */

        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
    <style id="__web-inspector-hide-shortcut-style__">
        .__web-inspector-hide-shortcut__,
        .__web-inspector-hide-shortcut__ *,
        .__web-inspector-hidebefore-shortcut__::before,
        .__web-inspector-hideafter-shortcut__::after {
            visibility: hidden !important;
        }
    </style>
</head>

<body>
    <div uk-sticky="" class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed" style="position: fixed; top: 0px; width: 1920px;">
        <div class="uk-container uk-container-expand">
            <nav uk-navbar="" class="uk-navbar">
                <div class="uk-navbar-left">
                    <a id="sidebar_toggle" class="uk-navbar-toggle uk-navbar-toggle-icon uk-icon" uk-navbar-toggle-icon="">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon">
                            <rect y="9" width="20" height="2"></rect>
                            <rect y="3" width="20" height="2"></rect>
                            <rect y="15" width="20" height="2"></rect>
                        </svg>
                    </a>
                    <a href="#" class="uk-navbar-item uk-logo">SPK Penerima Beasiswa Menggunakan Algoritma SAW</a>
                </div>
                <div class="uk-navbar-right uk-light">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active">
                            <a href="#" aria-expanded="false">{{nama}} &nbsp;
                                <span class="ion-ios-arrow-down"></span>
                            </a>
                            <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;" class="uk-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                    <li>
                                        <a id="logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;"></div>
    <div id="sidebar" class="tm-sidebar-left uk-background-default">
        <center>
            <div class="user">


                <div id="name" class="uk-text-truncate">{{nama}}</div>
                <div id="email" class="uk-text-truncate">{{email}}</div>
                <span id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-margin-top uk-label uk-label-success">Online</span>
            </div>
            <br>
        </center>
        <ul class="uk-nav uk-nav-default">

            <li class="uk-nav-header">Menu Pilihan :</li>
            <li>
                <a href="/mahasiswa">Olah Data Mahasiswa</a>
            </li>
            <li>
                <a href="/pendaftar">Olah Data Pendaftar</a>
            </li>
            <li>
                <a href="/admin">Olah Data Admin</a>
            </li>
            <li class="uk-nav-header">SPK :</li>
            <li>
                <a href="/spk/penerimabeasiswa">Penerima Beasiswa</a>
            </li>








        </ul>
    </div>
    <div class="content-padder content-background">
        <div class="uk-section-small uk-section-default header">
            <div class="uk-container uk-container-large">
                <h1>
                    <span class="ion-speedometer"></span> Olah Data Mahasiswa</h1>
                <ul class="uk-breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span href="">Olah Data Mahasiswa</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-section-small" style="padding:15px">
            <form action="/api/v1/mahasiswa/create" method="POST" enctype="multipart/form-data">
                <div style="margin-bottom:15px">
                    {%if flash.type=="success" %}
                    <div class="uk-alert-success" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>{{flash.msg}}</p>
                    </div>
                    {%elif flash.type=="error"%}
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>{{flash.msg}}</p>
                    </div>

                    {%else%}
                    <div style="display:none"></div>

                    {%endif%}

                    <button id="btnTambahDataSiswa" class="uk-button uk-button-default">Tambah Data Mahasiswa</button>
                    <div id="containerTambahDataSiswa" style="padding-top:15px;display:none;">
                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-large" name="nim" type="text" placeholder="NIM">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-large" name="namamahasiswa" type="text" placeholder="Nama Mahasiswa">
                        </div>



                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-select">Jenis Kelamin</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" name="jeniskelamin" style="width:100px;" id="form-stacked-select">
                                    <option>L</option>
                                    <option>P</option>
                                </select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-large" name="agama" type="text" placeholder="Agama">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-large" name="tempatlahir" type="text" placeholder="Tempat Lahir">
                        </div>

                        <div class="uk-margin">

                            <label class="uk-form-label" for="form-stacked-select">Tanggal Lahir</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-width-large" name="tanggallahir" type="date">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-large" name="alamat" type="text" placeholder="Alamat">
                        </div>

                        <div class="uk-margin">

                            <label class="uk-form-label" for="form-stacked-select">Foto</label>
                            <div class="uk-form-controls">
                                <input name="foto" class="uk-input uk-form-width-large" type="file">
                            </div>
                        </div>


                        <div class="uk-margin">
                            <input type="submit" class="uk-button" style="background-color:white"></input>
                        </div>

            </form>

            </div>
            </div>
            <div class="uk-overflow-auto" style="margin-bottom:20px">
                <table style="background-color:white " class="uk-table uk-table-hover uk-table-middle uk-table-divider ">
                    <thead>

                        <tr>
                            <th class="uk-table-shrink ">NIM</th>
                            <th class="uk-table-shrink ">Foto</th>
                            <th class="uk-table-expand ">Nama Mahasiswa</th>
                            <th class="uk-width-small ">Jenis Kelamin</th>
                            <th class="uk-table-shrink uk-text-nowrap ">Agama</th>
                            <th class="uk-table-shrink uk-text-nowrap ">Tempat Lahir</th>
                            <th class="uk-table-shrink uk-text-nowrap ">Tanggal Lahir</th>
                            <th class="uk-table-shrink uk-text-nowrap ">Alamat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for items in data%}
                        <tr>
                            <td class="uk-text-nowrap ">{{items.nim}}</td>
                            <td>
                                <img class="uk-preserve-width uk-border-circle " src="image/{{items.foto}} " width="40
                            " alt=" ">
                            </td>
                            <td class="uk-table-link ">
                                <a class="uk-link-reset " href="/mahasiswa/{{items.nim}}">{{items.nama_mahasiswa}}</a>
                            </td>
                            <td class="uk-text-truncate ">{{items.jenis_kelamin}}</td>
                            <td class="uk-text-nowrap ">{{items.agama}}</td>
                            <td class="uk-text-nowrap ">{{items.tempat_lahir}}</td>
                            <td class="uk-text-nowrap ">{{parsetanggal(items.tanggal_lahir)}}</td>
                            <td class="uk-text-nowrap ">{{items.alamat}}</td>
                            <td class="uk-text-nowrap ">

                                <a style="color:black" href="/mahasiswa/{{items.nim}}">
                                    <button class="uk-button">Detail</button>
                                </a>

                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Load More Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js " integrity="sha256-UGwvyUFH6Qqn0PSyQVw4q3vIX0wV1miKTracNJzAWPc="
        crossorigin=" anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js " integrity="sha256-rqEXy4JTnKZom8mLVQpvni3QHbynfjPmPxQVsPZgmJY="
        crossorigin=" anonymous "></script>
    <script src="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/js/notyf.min.js "></script>
    <!-- Required Overall Script -->
    <script src="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/js/script.js "></script>
    <!-- Status Updater -->
    <script src="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/js/status.js "></script>
    <!-- Sample Charts -->
    <script src="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/js/charts.js "></script>
    <!-- Sample Notifications -->
    <script src="https://gitcdn.xyz/cdn/ConsoleTVs/UIAdmin/b932bd39eeafea31a0a2aa17ea64600e53fc380e/js/notification.js "></script>
    <div class="notyf "></div>
    <script>
        document.querySelectorAll("#logout ")[0].addEventListener('click', (e) => {
            e.preventDefault();
            document.location = '/destroy';
        })

        document.querySelectorAll("#btnTambahDataSiswa")[0].addEventListener('click', (e) => {
            e.preventDefault();
            if (document.querySelectorAll("#containerTambahDataSiswa")[0].style.display === 'none') {
                document.querySelectorAll("#containerTambahDataSiswa")[0].style.display = "";
            } else {
                document.querySelectorAll("#containerTambahDataSiswa")[0].style.display = "none";
            }

        })
    </script>


</body>

</html>